body{
    font-family: 'Roboto Serif', serif;
}
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

.custom-nav-link{
    display: inline-block;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width:475px){
    .custom-nav-link{
        padding: 10px 5px;
        font-size: 0.8rem;
    }
}